@tailwind base;
@tailwind components;
@tailwind utilities;

.w-custom {
  width: 430px;
}

.w-comment {
  width: 500px;
}

.h-custom {
    max-height: 500px;
}

.pagination {
    text-align: center;
}

.pagination li{
    display: inline-block;
}